.githubLink {
    font-size: 14px;
    color: black;
}

.ghLogo {
    margin-right: 2px;
    margin-bottom: 2px;
    height: auto;
    width: 30px;
}

.projIMG {
    height: auto;
    width: 280px;
    border-radius: 3px;
}
