nav.navbar {
 background: #86936b;
 opacity: 0.85;
 box-shadow: 3px 3px 3px #5a6349;
}

#jfName {
    font-family: "DM Serif Text, serif";
}  

#jfLink {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-shadow: 7px 5px 3px #5a6349;
}

.nav-link {
    font-size: larger;
    font-weight: 400;
}


